#header {
    width: 100%;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    box-sizing: border-box;
    .logo {
        max-width: 100%;
        width: 200px;
    }

    .link-w-icon {
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        &:hover {
            text-decoration: underline;
        }
    }
}